The critical things you need for PyCon are 1) a place to talk 2)
equipment to talk with 3) an Internet connection, 4) optionally, food.

At least initially, we would want to see:

  * Details of the location and facilities: room sizes, A/V equipment.
    How is public transport to get there?  Anything interesting nearby?
    What about nearby hotels?  
  * When would the conference be scheduled?  (Time of year; on the weekend or during the week?)
  * Network support, preferably wireless, is a critical issue.  What's available?
    How much will it cost?
  * Food: how much will catering cost?  If there's no catering, where will people
    eat?  (Bear in mind that 500 people might flood nearby restaurants.)
    Could we bring in an external caterer if the facility doesn't have one?
  * Rough cost information for all the above so that we can calculate the required
    registration price; the PSF can't lose an enormous amount of money 
    on the conference, though it doesn't need to make an enormous profit (or any profit), either.
----
CategoryPyConPlanning
