#format rst

.. contents::

Background
==============

PyCon is an inexpensive, community-oriented conference for users and
developers of the Python programming language, organized by the Python
Software Foundation and a group of volunteers.  Recent PyCons have had
attendances of around 425 people.

PyCon is a North American conference; we don't intend to move into
territory served by EuroPython or Python UK.  So far all PyCons have
been in the US, but we're open to considering locations in Canada and
Mexico.

Traditionally the structure of PyCon has been three days of
presentations, and two or four days of sprints.  PyCon 2006 added a
tutorial day that was a great success, so you should also assume a day
of tutorials.

This is a list of the general requirements for a venue, and
miscellaneous notes.  The critical things you need for PyCon are 1) a
place to talk 2) equipment to talk with 3) an Internet connection, 4)
optionally, food.  Your proposed venue doesn't have to meet every
single requirement, but you should be able to explain why the missing
requirements won't be a problem.

We are open to multi-year bids, but you're certainly not forced to
assume hosting the conference for two years.

If you have any questions, suggestions, or would like to propose to
host PyCon, write to the organizers' mailing list at <pycon-organizers
at python.org>.  You may want to assemble a set of web or wiki pages
containing the information below.


Venue Requirements for PyCon
============================

Facilities 
----------

**Auditorium**: A large lecture-hall style room that can hold all
the conference attendees at one time (for keynotes).

**Meeting rooms**: Three rooms with a total capacity approximately
equal to that of the full assembly.  One of these rooms may be the
auditorium.

**Common area**: A common area in which groups of attendees can
informally meet and where conference registration can take place.
Requires a number (4 or so) tables for registration.

**Sprint rooms**: two or more rooms for sprints.  These rooms are
usually re-used during the conference for open space talks.
Multiple sprints can run at the same time, so these rooms should
contain a number of tables that can seat ~10 people with their
laptops.

**Quiet room**: A room for people to use their laptops in silence.
This room should be able to seat 30-50 people at tables, and have an
Internet connection.

**Storage**: A secure room in which to store supplies, including
materials for all the attendees and all necessary equipment.

All facilities should be accessible by disabled persons, and held
in controlled temperature environments (air-conditioned or heated
as needed).  

The location should be accessible by public transport.  It's a bonus
if there are interesting attractions nearby (museums, attractions,
etc.).

When would the conference be scheduled? e.g. the time of year; on the
weekend or during the week; how late the venue can stay open.


Networking
----------

All areas of the conference (listed in Facilities_ above) need 
wireless and wired Internet access, for **all attendees 
simultaneously**.  The venue may be able to provide the networking, 
or we may have to contract with a third party.  In either case, 
service level guarantees should be part of the agreement.


Catering (optional)
------------------------

Breakfast, snacks, and a light lunch for three days.  Some attendees
will be vegetarian/vegan; some may require lactose-free or
low-carbohydrate meals.  While not all meals may be provided, the
resources must be available.  (Snacks are less important than lunch;
if no meals are provided at all, the resulting registration cost
should reflect this.)

If food will not be provided, there should be restaurants or other
places for lunch within walking distance.  There should be enough of
these to handle the conferance attendance (if there's only one small
restaurant within walking distance, it'll get swamped).


Accommodation
----------------

Nearby commercial hotels, restaurants, and social venues must be
available.  

If the facility is a hotel: how many rooms does it have?  What would
the room rate be?

If the facility does not offer accommodation, some nearby
inexpensive accommodations, such as hostels, should be
identified. 


A/V Equipment
-------------------

**Auditorium and Meeting Rooms**: Public address system, data
projectors, transparency (overhead) projectors.  
Preferably wireless microphones as well as podium mics.


Transportation
-------------------

Nearby access to an airport, preferably a large one.  

Parking facilities or arrangements, as appropriate.  

How to arrive by public transport and taxi from the airport, or other
major points.


Finances
------------

Rough cost information for all the above so that we can estimate the
required registration price.  The PSF doesn't need to make an enormous
profit, and can tolerate a small loss, but it's obviously better if
the conference can be slightly profitable.

The acceptable upper bound on the early-bird registration cost is
$250; as a first approximation you can assume that **everyone**
registers at the early-bird rate.


Volunteers
==================

Some parts of PyCon organization can be done remotely, but having
local volunteers is vital to the conference's success.  Volunteers
can:

* Explore locations before the conference.
* Receive deliveries in the weeks before the conference.
* Run the registration desk.
* Help advertise the conference locally at schools, user groups.
* Help prepare the conference rooms, wireless networking, badges, 
  conference tote bags, etc.

Does your location have a pool of volunteer labour?


Acknowledgements
====================

Portions of this document are derived from the `Perl Foundation's 
venue requirements <http://www.yapc.org/venue-reqs.txt>`__.


Further Info
==================

In April 2006 Andrew Kuchling posted `So you want to host PyCon
2008... <http://pyfound.blogspot.com/2006/04/so-you-want-to-host-pycon-2008.html>`__

For examples of what a bid might look like, you can look at the
`Dallas/Fort Worth Python User Group's bid for PyCon 2006 and 2007
<http://dfwpython.org/DfwPyConBid/HomePage>`__.

Or, see the following three bids in the Perl Foundation's weblog:
`Vancouver
<http://news.perlfoundation.org/2005/12/vancouver_2006_yapc_bid.html>`__
`Boston
<http://news.perlfoundation.org/2005/12/boston_2006_yapc_bid.html>`__
`Chicago
<http://news.perlfoundation.org/2005/12/chicago_2006_yapc_bid.html>`__.

Please send comments/questions/suggestions to the 
<pycon-organizers at python.org> mailing list.


CategoryPyConPlanning_
