Collects requirements for the conference software.

== Features ==

 * Registration for the conference
 * Scheduling
 * Mapping of attendee locations
 * Paper submissions

== Users ==

 * At a minimum, we must have a user's e-mail address so that we can contact them.
 * Users can have multiple flags set: speaker, volunteer, session chair.  (More such flags may be added.)
 * Users can optionally supply their geographic location for mapping, paper mailings, and for 

== Paper submission ==

 * Users can submit proposals.
 * Some users have 'reviewer' status and can look at other people's proposals.
 * Some users have 'organizer' status and can mark proposals as 'accepted' or 'declined', and can set a scheduled time/location.
 * Proposals have: title, summary/abstract, description, category, length (30/45 min), difficulty level (beginner/intermediate/advanced), a list of 3 assigned reviewers, an accepted boolean, a list of reviewer comments, and a list of uploaded documents.
 * On being submitted, proposals are assigned 3 reviewers at random.  If the author has reviewer status, the author must not be one of the assigned reviewers.
 * Reviewers can vote +1, -1, +0, -0, or 'no vote' on proposals
 * Reports: all proposals, all proposals with 3 votes, all proposals with 

== Registration ==

 * Must able to produce a list of attendees, showing attendee name, T-shirt size, certain special flags (e.g. speaker/session/chair) so we can hand them the right swag bag and additional info.
 * Badge information must be exportable (or maybe we can produce PDF for printing).
 * Badges must show: user's name, certain flags (speaker, session chair, volunteer).
 * Badges can optionally show the attendee's organization and home location, at the attendee's choice.
----
CategoryPyConPlanning
