# Binary data types
*.bmp   binary
*.docx  binary
*.gif   binary
*.gz    binary
*.ico   binary
*.jpeg  binary
*.jpg   binary
*.mng   binary
*.odg   binary
*.odp   binary
*.odt   binary
*.pdf   binary
*.png   binary
*.ppt   binary
*.sxi   binary
*.tar   binary
*.zip   binary

# Unix-style line endings
[attr]unix unix eol=lf

*.c       unix
*.css     unix
*.h       unix
*.hpp     unix
*.html    unix
*.patches unix
*.pl      unix
*.ps      unix
*.py      unix
*.rst     unix
*.sla     unix
*.svg     unix
*.txt     unix

# Language aware diff headers
*.c    diff=cpp
*.h    diff=cpp
*.css  diff=css
*.html diff=html
*.md   diff=markdown
*.py   diff=python
# *.rst  diff=reStructuredText
*.tex  diff=tex

# Instruct linguist not to ignore text files
# https://github.com/github-linguist/linguist/blob/master/docs/overrides.md
*.md  linguist-detectable
*.rst linguist-detectable
*.txt linguist-detectable
