== Rooms ==

 * 1 hall with 250 seating capacity
 * 2 hall with 100 seating capacity

(Total 3 rooms)

== Food ==

Food should be available at a nominal rate.

== Accommodation ==

There should hotels in nearby area
